
<%= provide(:title, 'Log in')%>

<br>
<div class='row'>

    <div class='col-md-4 offset-md-4'>
    <span class="btn btn-primary btn-lg btn-block">Log in</span><br>
        <%= form_for(:session, url: login_path) do |f|%>
            
            <%= f.text_field :name, value: 'Enter Username', class: 'form-control' %><br>
            <%= f.submit 'OKAY', class: 'btn btn-info btn-block' %>
        <% end %>

        <span ><%= link_to "Sign up to the service", signup_path %> </span>
    </div>
</div>
