
<%= provide(:title, 'Log in')%>

<h1>Log in</h1>
<div class='row'>
    <div class='col-md-4 offset-md-4'>
        <%= form_for(:session, url: login_path) do |f|%>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.submit 'OKAY', class: 'btn btn-info' %>
        <% end %>
    </div>
</div>
<span><%= link_to "Sign up to the service", signup_path %> </span>