<div class="container">
    <h1><%= "ALL EVENTS" %></h1>
    <% if current_user%>
         <span><b><%= link_to 'Create Event', new_event_path %> </b></span>
    <% else %>
        <span><b><%= link_to 'Login to Create and Attend Events', login_path %> </b></span>
    <% end %>
    <hr>
    <h3>Future events</h3>
    <% @upcoming_events.each do |event| %>
        <h3><%= event.description %> </h3>
        <h5>Date: <%= event.date %></h5>
        <% if current_user %>
            <%= form_for(:user, url: user_attend_path) do |f| %>
                <%= f.hidden_field :event_id, :value => event.id %>
                <%= f.submit "Attend", class: "btn btn-primary" %>
            <% end %>
            
        <% end %>
        <hr>
    <%end%>
    <hr>
    <h3>Past events</h3>
    <% @attended_events.each do |event| %>
        <h3><%= event.description %> </h3>
        <h5>Date: <%= event.date %></h5>
        <hr>
    <%end%>
    
</div>

