<h1><%= "ALL EVENTS" %></h1>

<hr>
<h3>Future events</h3>
<% @upcoming_events.each do |event| %>
    <h3>Description: <%= event.description %> </h3>
    <h5>Date: <%= event.date %></h5>
    <hr>
<%end%>
<hr>
<h3>Past events</h3>
<% @attended_events.each do |event| %>
    <h3>Description: <%= event.description %> </h3>
    <h5>Date: <%= event.date %></h5>
    <hr>
<%end%>
<span><b><%= link_to 'Create Event', new_event_path %> </b></span>